<header>
    <div class="col-md-2 mobile">
        <img src="../../../assets/dowe_logo_versao_principal_cor_01_F_hg 1.svg" alt="dowe" class="logo">
    </div>
    <div class="count">
        <div class="col-md-12 desk">
            <div class="row alingItens">
                <div class="col-md-2">
                    <img src="../../../assets/dowe_logo_versao_principal_cor_01_F_hg 1.svg" alt="dowe" class="logo">
                </div>
                <div class="col-md-6">
                    <nav>
                        <ul>
                            <li>Campanhas</li>
                            <li>Como Funciona</li>
                            <li>Sobre</li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                    <button>Entrar</button>
                    <button>Doe agora!</button>
                </div>
            </div>
        </div>
    </div>
</header>