@import '~src/variables.scss';

.mobile {
    display: none;
}

.cont {
    margin-left: 20px;
}

.heroPage {
    padding-bottom: 60px;

    h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 700;
        font-family: $standard-font;
        width: 500px;
        font-size: 40px;
    }

    p {
        font-family: $standard-font;
        width: 350px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    button {
        background-color: $primary-color;
        border: none;
        color: #fff;
        border-radius: 10px;
        width: 200px;
        height: 40px;
    }
}

.heroImg {
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #20CB9C 51%, #20CB9C 100%);
    height: auto;
    padding-bottom: 30px;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    padding: 50px 0px 0px 10px;

    img {
        max-height: 311px;
        width: 95%;
    }
}

.titleLeft {

    h2,
    p {
        margin-left: 20px;
        font-family: $standard-font
    }

    h2 {
        width: 300px;
        font-size: 50px;
        font-weight: 700;
        margin-top: 200px;
    }

    p {
        width: 500px;
        font-size: 25px;
        font-weight: 400;
    }
}

.titleLeft2 {

    h2,
    p {
        margin-left: 20px;
        font-family: $standard-font
    }

    h2 {
        width: 400px;
        font-size: 40px;
        font-weight: 700;
        margin-top: 100px;
    }

    p {
        width: 500px;
        font-size: 25px;
        font-weight: 400;
    }
}

.titleLeft3 {

    h2,
    p {
        margin-left: 20px;
        font-family: $standard-font
    }

    h2 {
        width: 450px;
        font-size: 40px;
        font-weight: 700;
    }

    p {
        width: 500px;
        font-size: 25px;
        font-weight: 400;
    }
}

.carousel {
    width: 90% !important;
}

.imgSlide {
    width: 100%;
    height: 600px;
    background-color: #E9E4E4;
    border-radius: 10px;
    margin-top: 100px;

    img {
        margin-top: 30px;
        margin-left: 16%;
        width: 400px;
    }
}

.carousel-caption {
    text-align: left !important;
    padding-top: 0px !important;

    img {
        width: 100%;
    }

    h4,
    p {
        color: #000 !important;
    }

    .alingSpan {
        width: 100%;
        padding: 10px 0px;
    }

    span,
    b {
        color: $primary-color !important;
    }

    span:first-child {
        margin-right: 150px;
    }

    h4 {
        font-family: $standard-font;
        width: 100%;
        font-size: 33px;
        font-weight: bold;
    }

    p {
        font-family: $standard-font;
        font-size: 16px;
        width: 100%;
    }

    .alingBtn {
        padding-top: 20px;

        button {
            width: 100%;
            height: 60px;
            color: #fff;
            background-color: $primary-color;
            border: none;
            border-radius: 10px;
        }
    }
}

.donate {
    text-align: center;
    margin-top: 60px;

    img {
        margin: 0 auto;
        width: 200px;
    }

    p {
        width: 200px;
        margin: 0 auto;

    }

    .alingDonate {
        justify-content: center;
        align-items: center;

        div {
            max-width: 300px;
        }
    }
}

.about {
    height: auto;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #2A40DB;

    h2,
    p {
        font-family: $standard-font;
        color: #fff;
    }

    h2 {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 350px;
        font-weight: bold;
        font-size: 40px;
        margin: 0 auto;
    }

    p {
        font-weight: bold;
        padding-bottom: 40px;
        width: 350px;
        margin: 0 auto;
    }
}

.imgAbout1,
.imgAbout2 {
    position: absolute;
}

.imgAbout1 {
    border-radius: 50%;
    margin-left: 50px;
    width: 350px;
    margin-top: 20px;
}

.imgAbout2 {
    border-radius: 50%;
    width: 150px;
    margin-left: 440px;
    margin-top: 20px;
}

.imgAbout3 {
    border-radius: 50%;
    width: 100px;
    margin-left: 430px;
    margin-top: 200px;
}

.juntos {
    padding-top: 130px;
    padding-bottom: 100px;
}

.containerBtnJuntos {
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    button {
        width: 40%;
        border: none;
        height: 60px;
        background-color: #C4C4C4;
        color: #000;
        border-radius: 10px;
        font-family: $standard-font;
    }

    button:first-child {
        margin-right: 30px;
        width: 40%;
        border: none;
        height: 60px;
        background-color: $primary-color !important;
        color: #fff !important;
        border-radius: 10px;
    }
}

.footerContainer {
    height: auto;
    background-color: $primary-color;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: $standard-font;

    ul {
        list-style: none;
        padding-top: 40px;

        li {
            padding: 2px 0px 2px 0px;
            margin-bottom: 3px;
            cursor: pointer;
        }
    }

    img {
        padding: 5px;
        cursor: pointer;
    }

    .alingImgFooter {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    span {
        color: rgb(255, 0, 0);
        font-size: 20px;
    }
}

.video {
    text-align: center;

    h2 {
        padding-top: 40px;
        padding-bottom: 10px;
        font-family: $standard-font;
        font-weight: 700;
    }

    button {
        width: 60%;
        height: 40px;
        margin-top: 25px;
        font-family: $standard-font;
        background-color: $primary-color;
        border: none;
        color: #fff;
        border-radius: 10px;
    }
}

.containerVideo {
    height: 200px;
    width: 50%;
    background-color: #E9E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    img {
        display: none;
    }
}

.video {
    text-align: center;

    h2 {
        padding-top: 40px;
        padding-bottom: 10px;
        font-family: $standard-font;
        font-weight: 700;
    }

    button {
        width: 30%;
        height: 50px;
        margin-top: 25px;
        font-family: $standard-font;
        background-color: $primary-color;
        border: none;
        color: #fff;
        border-radius: 10px;
    }
}

.imgVideo {
    width: 60%;
    height: 80%;
    background-image: url('../../assets/Mask group.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
    border-radius: 10px;
}

.form {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 50px;
    width: 40%;

    input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        border: solid 1px rgba(0, 0, 0, 0.219);
        padding-left: 10px;
        padding-right: 10px;
    }

    button {
        width: 60%;
        height: 40px;
        margin-top: 25px;
        font-family: $standard-font;
        background-color: $primary-color;
        border: none;
        color: #fff;
        border-radius: 10px;
    }

    img {
        width: 150px;
    }
}

.frameVideo {
    text-align: center;

    img {
        width: 150px;
    }
}

.getNote,
.msg {
    width: 100%;
    height: 100vh;
    background-color: #e5e5e5;
}

.containerGetNote {
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding-bottom: 150px;

    h2 {
        padding-top: 200px;
        padding-bottom: 10px;
        font-family: $standard-font;
        font-weight: 700;
    }

    p {
        font-family: $standard-font;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    img {
        cursor: pointer;
    }
}

.msgContainer {
    width: 40%;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding-bottom: 150px;

    img {
        padding-top: 100px;
        padding-bottom: 10px;
    }

    h2 {
        padding-bottom: 10px;
        font-family: $standard-font;
        font-weight: 700;
    }

    p {
        font-family: $standard-font;
        width: 330px;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    a {
        text-decoration: none;
        color: #2A40DB;
        font-family: $standard-font;

    }

    span {
        color: #2A40DB;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .titleLeft {
        font-size: 40px;

        p {
            width: 300px;
            font-size: 20px;
        }
    }

    .carousel-caption {
        h4 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }

        span:first-child {
            margin-right: 40px;
        }

        span {
            font-size: 12px;
        }
    }

    .imgSlide {
        width: 100%;
        height: 470px;
        background-color: #E9E4E4;
        border-radius: 10px;
        margin-top: 100px;

        img {
            margin-top: 30px;
            margin-left: 16%;
            width: 250px;
        }
    }

    .titleLeft2 {
        margin-top: 50px;
    }

    .donate {
        margin-top: 0px;

        img {
            width: 100px;
        }

        p {
            width: 150px;
            font-size: 12px;
        }

        h4 {
            font-size: 20px;
        }
    }

    .imgAbout1 {
        width: 250px;
    }

    .imgAbout2 {
        width: 100px;
        margin-left: 288px;
    }

    .imgAbout3 {
        width: 80px;
        margin-left: 290px;
        margin-top: 200px;
    }

    .about {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
        }
    }

    .titleLeft3 {
        h2 {
            width: 300px;
            font-size: 25px;
        }
    }

    .footerContainer {
        p {
            font-size: 12px;
        }

        ul {
            li {
                font-size: 12px;
            }
        }
    }
}
.containerVideo{
    width: 90%;
}
.imgVideo{
    width: 90%;
}
.form{
    width: 80%;
}
.containerGetNote{
    width: 60%;
}
.msgContainer{
    width: 60%;
}
@media only screen and (max-width: 500px) {
    .mobile {
        display: block;
    }

    .desk {
        display: none;
    }

    .heroPage {
        h1 {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 700;
            font-family: $standard-font;
            width: 250px;
            font-size: 30px !important;
        }

        p {
            font-family: $standard-font;
            width: 250px;
            font-weight: 600;
            padding-bottom: 20px;
        }

        button {
            background-color: $primary-color;
            border: none;
            color: #fff;
            border-radius: 10px;
            width: 200px;
            height: 40px;
        }
    }

    .heroImg {
        background: linear-gradient(to bottom, #fff 0%, #fff 50%, $primary-color 51%, $primary-color 100%);
        height: auto;
        padding-bottom: 30px;
    }

    .cards {
        padding: 0px;
        display: flex;

        img {
            height: 150px;
            max-height: 173px;
            width: 173px !important;
            margin-right: 30px;
        }

        img:last-child {
            width: 37px !important;
            margin-right: 0px;
        }
    }

    .difference {
        height: 100vh;

        h2,
        p {
            font-family: $standard-font;
        }

        h2 {
            padding-top: 30px;
            padding-bottom: 15px;
            width: 400px;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            width: 300px;
            font-size: 12px;
        }

        height: auto;
    }

    .imgSlide {
        background-color: #E9E4E4;
        height: 450px;
        border-radius: 10px;
        margin-top: 30px;

        img {
            margin-top: 30px;
            margin-left: 12%;
            width: 250px;
        }
    }

    .carousel-caption {
        text-align: left !important;
        padding-top: 0px !important;

        img {
            width: 225px !important;
        }

        h4,
        p {
            color: #000 !important;
        }

        .alingSpan {
            width: 250px;
            padding: 10px 0px;
        }

        span,
        b {
            color: $primary-color !important;
        }

        span {
            font-size: 12px;
        }

        span:first-child {
            margin-right: 30px;
        }

        h4 {
            font-family: $standard-font;
            width: 220px;
            font-size: 18px;
            font-weight: bold;
        }

        p {
            font-family: $standard-font;
            font-size: 10px;
            width: 250px;
        }

        .alingBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 20px;

            button {
                width: 90%;
                height: 40px;
                color: #fff;
                background-color: $primary-color;
                border: none;
                border-radius: 10px;
            }
        }
    }

    .donate {
        text-align: left;
        margin-top: 10px;

        h2,
        p {
            font-family: $standard-font;
        }

        h2 {
            padding-top: 40px;
            padding-bottom: 10px;
            width: 350px;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-weight: bold;
            padding-bottom: 40px;
            margin: 0;
            width: auto;
        }

        img {
            width: auto;
        }

        height: auto;
    }

    .donateRow {
        div:first-child {
            width: 20%;
        }

        div:last-child {
            width: 80%;
        }
    }

    .about {
        height: auto;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 50px;
        background-color: #fff;

        h2,
        p {
            font-family: $standard-font;
            color: #000;
        }

        h2 {
            padding-top: 20px;
            padding-bottom: 10px;
            width: 350px;
            font-weight: bold;
            font-size: 40px;
            margin: 0 auto;
        }

        p {
            font-weight: bold;
            padding-bottom: 40px;
            width: 350px;
            margin: 0 auto;
        }
    }

    .aboutFlex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        align-items: center;
        padding: 20px 0px 0px 10px;

        img {
            border-radius: 50%;
        }

        p {
            width: 150px;
        }
    }

    .imgAbout1,
    .imgAbout2 {
        position: absolute;
    }

    .imgAbout1 {
        border-radius: 50%;
        margin-left: 160px;
        width: 80px;
        margin-top: -30px;
    }

    .imgAbout2 {
        border-radius: 550%;
        width: 100px;
        margin-left: 50px;
        margin-top: 20px;
    }

    footer {
        height: 100px;
        background-color: $primary-color;
        margin-top: 100px;
    }

    .footer {
        padding-top: 40px;

        img {
            width: 20px;
            margin-left: 20px;
        }
    }

    .video {
        text-align: center;

        h2 {
            padding-top: 40px;
            padding-bottom: 10px;
            font-family: $standard-font;
            font-weight: 700;
        }

        button {
            width: 60%;
            height: 40px;
            margin-top: 25px;
            font-family: $standard-font;
            background-color: $primary-color;
            border: none;
            color: #fff;
            border-radius: 10px;
        }
    }

    .containerVideo {
        width: 100%;
        height: 200px;
        background-color: #E9E4E4;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            display: block;
        }
    }

    .imgVideo {
        width: 300px;
        height: 150px;
        background-image: url('../../assets/Mask group.svg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .5;
        border-radius: 10px;
    }

    .form {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 50px;

        input {
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            border: solid 1px rgba(0, 0, 0, 0.219);
            padding-left: 10px;
            padding-right: 10px;
        }

        button {
            width: 60%;
            height: 40px;
            margin-top: 25px;
            font-family: $standard-font;
            background-color: $primary-color;
            border: none;
            color: #fff;
            border-radius: 10px;
        }

        img {
            width: 150px;
        }
    }

    .frameVideo {
        text-align: center;

        img {
            width: 150px;
        }
    }

    .getNote,
    .msg {
        width: 100%;
        height: 100vh;
        background-color: #e5e5e5;
    }

    .containerGetNote {
        width: 100%;
        height: auto;
        background-color: #fff;
        text-align: center;
        padding-bottom: 150px;

        h2 {
            padding-top: 100px;
            padding-bottom: 10px;
            font-family: $standard-font;
            font-weight: 700;
        }

        p {
            font-family: $standard-font;
            width: 250px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    .msgContainer {
        width: 100%;
        height: auto;
        background-color: #fff;
        text-align: center;
        padding-bottom: 150px;

        img {
            padding-top: 50px;
            padding-bottom: 10px;
        }

        h2 {
            padding-bottom: 10px;
            font-family: $standard-font;
            font-weight: 700;
        }

        p {
            font-family: $standard-font;
            width: 330px;
            margin: 0 auto;
            margin-bottom: 70px;
        }

        a {
            text-decoration: none;
            color: #2A40DB;
            font-family: $standard-font;

        }
    }

    .aling {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            margin-right: 25px;
            color: #2A40DB;
        }
    }
}